.intro {
  background-color: $color_bg_lightGrey;
  padding: 50px 0px;
  @include flex-center;
  flex-direction: column;
  text-align: center;
  gap: 25px;

  h1 {
    width: 272px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
  }
}
