/* -------- CSS avec SASS en mobile first -------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  color: #101010;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}

header {
  height: 125px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-style: italic;
  height: 60%;
  font-weight: 400;
  width: 100%;
}

.mylocation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.33);
}
.mylocation label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20px;
  padding-left: 60px;
}
.mylocation input {
  padding-left: 20px;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  color: rgb(15, 13, 13);
}
.mylocation ::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #353535;
  line-height: 18.75px;
}
.mylocation input:focus::placeholder {
  opacity: 0;
}

.intro {
  background-color: #f6f6f6;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}
.intro h1 {
  width: 272px;
}
.intro p {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
}

.concept {
  height: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.concept h2 {
  height: 31px;
  margin: 40px 10px;
}
.concept ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.concept ul .concept-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 322px;
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 15px;
}
.concept ul .concept-list .concept-number123 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9256dc;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
  color: white;
  margin-left: -10px;
}
.concept ul .concept-list i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  height: 100%;
  width: 30px;
  font-size: 1.4em;
}
.concept ul .concept-list h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18.75px;
}
.concept ul h3:hover,
.concept ul i:hover {
  color: #9256dc;
}

.menu {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}
.menu h2 {
  height: 31px;
  margin: 40px 0px 20px 15px;
}
.menu .bloc-card-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.menu .bloc-card-menu .card-menu {
  background-color: #ffffff;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s ease-out;
  position: relative;
}
.menu .bloc-card-menu .card-menu .new-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99e2d0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 80px;
  height: 29px;
  right: 10px;
  top: 10px;
}
.menu .bloc-card-menu .card-menu .new-content p {
  color: #008766;
  font-weight: 500;
  font-size: 14px;
}
.menu .bloc-card-menu .card-menu img {
  border-radius: 15px 15px 0 0;
  height: 174px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
.menu .bloc-card-menu .card-menu .card-content {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
}
.menu .bloc-card-menu .card-menu .card-content-left {
  padding: 15px 0 0 15px;
}
.menu .bloc-card-menu .card-menu .card-content-left h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.menu .bloc-card-menu .card-menu .card-content-left p {
  font-size: 17px;
  font-weight: 300;
}
.menu .bloc-card-menu .card-menu .card-content-right {
  width: 45px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 25px;
  margin-right: 10px;
}
.menu .bloc-card-menu .card-menu .card-content-right .icon {
  position: absolute;
  cursor: pointer;
}
.menu .bloc-card-menu .card-menu .card-content-right .empty {
  opacity: 1;
  color: #353535;
}
.menu .bloc-card-menu .card-menu .card-content-right .fill {
  opacity: 0;
  color: #9256dc;
  z-index: 2;
  background: linear-gradient(0deg, rgb(171, 94, 220) 0%, rgb(223, 111, 218) 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .bloc-card-menu .card-menu .card-content-right .empty:hover {
  opacity: 0;
}
.menu .bloc-card-menu .card-menu .card-content-right .fill:hover {
  opacity: 1;
  transition: 0.4s;
}
.menu .bloc-card-menu .card-menu:hover {
  transition: 0.6s;
  box-shadow: 5px 9px 15px rgba(0, 0, 0, 0.481);
}
.menu .bloc-card-menu .card-menu:nth-child(2) img {
  object-fit: cover;
  object-position: center calc(50% - 30px);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  width: 100%;
  height: 186px;
  padding: 20px;
}
footer h2 {
  font-family: "Shrikhand", serif;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
}
footer .menu-footer ul {
  padding-top: 16px;
}
footer .menu-footer ul li {
  margin-bottom: 11px;
}
footer .menu-footer ul li i {
  color: #ffffff;
  width: 25px;
}
footer .menu-footer ul li a {
  color: #ffffff;
  transition: 0.6s ease;
}
footer .menu-footer ul li a:hover {
  color: #9356dc;
  transition: 0.4s;
}

.header-menu {
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.header-menu .fleche {
  font-size: 25px;
  position: absolute;
  padding-left: 25px;
}

.main-img img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
}

.menu-restaurant {
  height: fit-content;
  width: 100%;
  background-color: rgb(246, 246, 246);
  border-radius: 40px 40px 0 0;
  margin-top: -63px;
  z-index: 0;
}
.menu-restaurant-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 25px;
}
.menu-restaurant-container .restaurant-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  margin-top: 25px;
}
.menu-restaurant-container .restaurant-title h1 {
  height: 50px;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-restaurant-container .restaurant-title-heart {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 25px;
  margin-left: 20px;
  padding-bottom: 3px;
}
.menu-restaurant-container .restaurant-title-heart .icon {
  position: absolute;
  cursor: pointer;
}
.menu-restaurant-container .restaurant-title-heart .empty {
  opacity: 1;
  color: #353535;
}
.menu-restaurant-container .restaurant-title-heart .fill {
  opacity: 0;
  color: #9256dc;
  z-index: 2;
  background: linear-gradient(0deg, rgb(171, 94, 220) 0%, rgb(223, 111, 218) 58%);
  background-clip: text; /* Ajout de la version standard */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.7s ease;
}
.menu-restaurant-container .restaurant-title-heart .empty:hover {
  opacity: 0;
}
.menu-restaurant-container .restaurant-title-heart .fill:hover {
  opacity: 1;
  transition: 0.2s;
}
.menu-restaurant-container .restaurant-list {
  height: fit-content;
  width: 100%;
}
.menu-restaurant-container .restaurant-list h2 {
  height: 27px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
}
.menu-restaurant-container .restaurant-list-tiret {
  border: none;
  height: 5px;
  width: 40px;
  margin-top: 4px;
  margin-left: 0;
  background-color: #99e2d0;
}
.menu-restaurant-container .restaurant-list ul {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content {
  width: 100%;
  height: 69px;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 12px;
  display: flex;
  overflow: hidden;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content:hover .restaurant-list-content-right {
  transform: translateX(-50px);
  transition: transform 0.5s ease-in-out;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content:hover .checkfood {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-left {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 15px;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-left h3 {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-left p {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-right {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 13px;
  font-size: 17px;
  transition: transform 0.6s ease-in-out;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-right span {
  font-weight: bold;
}
.menu-restaurant-container .order-dish {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-restaurant-container .order-dish a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s ease;
}
.menu-restaurant-container .order-dish a:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
  transition: 1s;
}

/* responsive tablette */
@media (min-width: 600px) {
  section {
    padding: 0 40px;
  }
  .intro h1 {
    width: fit-content;
    font-size: 30px;
    font-weight: 700;
  }
  .concept h2 {
    width: 100%;
    margin-top: 40px;
    margin-left: -5px;
  }
  .menu {
    width: 100%;
  }
  .menu h2 {
    width: 100%;
    margin-top: 40px;
    margin-left: -5px;
  }
  .menu .bloc-card-menu {
    width: 100%;
    gap: 60px;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 251px 251px;
  }
  .menu .bloc-card-menu .card-menu {
    width: 100%;
    height: 251px;
    position: relative;
  }
  .main-img {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-img img {
    object-position: 50% 60%;
  }
  .menu-restaurant {
    margin: auto;
    margin-top: -63px;
    width: 80%;
  }
  .menu-restaurant .restaurant-title {
    justify-content: center;
  }
  .menu-restaurant .restaurant-list .restaurant-list-content {
    width: 634px;
  }
  footer {
    height: 114px;
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  footer h2 {
    order: 1;
    margin-top: 10px;
    margin-right: 30px;
  }
  footer .menu-footer {
    width: fit-content;
    margin-right: 20px;
  }
  footer .menu-footer ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  footer .menu-footer li:nth-child(2) {
    margin-right: 25px;
  }
  footer .menu-footer li:nth-child(1) {
    margin-right: 10px;
  }
}
/* responsive desktop */
@media (min-width: 1024px) {
  section {
    padding: 0 120px;
    margin: 0 auto;
  }
  .intro h1 {
    font-size: 40px;
  }
  .concept {
    height: 230px;
  }
  .concept ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .menu {
    padding-left: 130px;
    padding-right: 130px;
  }
  .menu-restaurant {
    width: 70%;
  }
  footer h2 {
    margin-right: 60px;
  }
  footer .menu-footer {
    margin-right: 90px;
  }
  footer .menu-footer ul {
    gap: 15px;
  }
  footer .menu-footer li:nth-child(2) {
    margin-right: 30px;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  opacity: 1;
  animation: fadeOut 3s ease-out forwards;
}
.loader .loader-circle {
  width: 50px;
  height: 50px;
  margin: 0 20px;
  background-color: #99e2d0;
  border-radius: 50%;
  animation: bounce 1.2s ease-in-out infinite;
}
.loader .loader-circle:nth-child(2) {
  background-color: #ff79da;
  animation-delay: 0.2s;
}
.loader .loader-circle:nth-child(3) {
  background-color: #9356dc;
  animation-delay: 0.4s;
}

.content {
  display: block;
  opacity: 0;
  animation: showContent 0.4s ease-in forwards;
  animation-delay: 2s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes showContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  opacity: 0px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease;
}
.button-effect:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transform: scale(1.1);
  opacity: 0.8;
}

.appear1 {
  list-style-type: none;
  opacity: 0;
  animation: slideFadeIn 0.8s ease-out forwards;
}

.appear2 {
  opacity: 0;
  animation: slideFadeIn 1.5s ease-out forwards;
}

.appear3 {
  opacity: 0;
  animation: slideFadeIn 2.5s ease-out forwards;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fleche .fa-arrow-left:hover {
  color: #9356dc;
  transform: scale(1.1);
  opacity: 0.8;
  animation: bounce-left 1.2s ease-in-out infinite;
}

@keyframes bounce-left {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-8px);
  }
}
.checkfood {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  width: 80px;
  margin-left: -85px;
}
.checkfood .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #ffffff;
  border-radius: 50%;
}