/* -------- CSS avec SASS en mobile first -------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  color: #101010;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}

header {
  height: 125px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-style: italic;
  height: 55%;
  font-weight: 400;
  width: 100%;
}

.mylocation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45%;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.33);
}
.mylocation label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20px;
  padding-left: 60px;
}
.mylocation input {
  padding-left: 20px;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  color: rgb(15, 13, 13);
}
.mylocation ::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #353535;
  line-height: 18.75px;
}
.mylocation input:focus::placeholder {
  opacity: 0;
}

.intro {
  background-color: #f6f6f6;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
}
.intro h1 {
  width: 272px;
}
.intro p {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
}
.intro a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  opacity: 0px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.concept {
  height: 440px;
  width: 100%;
  background-color: color_bg_White;
  display: flex;
  flex-direction: column;
}
.concept h2 {
  height: 31px;
  margin: 40px 10px;
}
.concept ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.concept ul .concept-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 322px;
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 15px;
}
.concept ul .concept-list .concept-number123 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9256dc;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
  color: white;
  margin-left: -10px;
}
.concept ul .concept-list i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  height: 100%;
  width: 30px;
  font-size: 1.4em;
}
.concept ul .concept-list h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18.75px;
}
.concept ul .concept-list:hover ::before {
  color: #9256dc;
}

.menu {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}
.menu h2 {
  height: 31px;
  margin: 40px 0px 20px 15px;
}
.menu .bloc-card-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.menu .bloc-card-menu .card-menu {
  background-color: #ffffff;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s ease-out;
}
.menu .bloc-card-menu .card-menu .new-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #99e2d0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 80px;
  height: 29px;
  margin-top: 10px;
  margin-left: 245px;
}
.menu .bloc-card-menu .card-menu .new-content p {
  color: #008766;
  font-weight: 500;
  font-size: 14px;
}
.menu .bloc-card-menu .card-menu img {
  border-radius: 15px 15px 0 0;
  height: 174px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
.menu .bloc-card-menu .card-menu .card-content {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
}
.menu .bloc-card-menu .card-menu .card-content-left {
  padding: 15px 0 0 15px;
}
.menu .bloc-card-menu .card-menu .card-content-left h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.menu .bloc-card-menu .card-menu .card-content-left p {
  font-size: 17px;
  font-weight: 300;
}
.menu .bloc-card-menu .card-menu .card-content-right {
  width: 45px;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 25px;
}
.menu .bloc-card-menu .card-menu .card-content-right .icon {
  position: absolute;
  cursor: pointer;
}
.menu .bloc-card-menu .card-menu .card-content-right .empty {
  opacity: 1;
  color: #353535;
}
.menu .bloc-card-menu .card-menu .card-content-right .fill {
  opacity: 0;
  color: #9256dc;
  z-index: 2;
  background: linear-gradient(0deg, rgb(171, 94, 220) 0%, rgb(223, 111, 218) 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .bloc-card-menu .card-menu .card-content-right .empty:hover {
  opacity: 0;
}
.menu .bloc-card-menu .card-menu .card-content-right .fill:hover {
  opacity: 1;
  transition: 0.4s;
}
.menu .bloc-card-menu .card-menu:hover {
  transition: 0.6s;
  box-shadow: 5px 9px 15px rgba(0, 0, 0, 0.481);
}
.menu .bloc-card-menu .card-menu:nth-child(2) img {
  object-fit: cover;
  object-position: center calc(50% - 30px);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  width: 100%;
  height: 186px;
  padding: 20px;
}
footer h2 {
  font-family: "Shrikhand", serif;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
}
footer .menu-footer ul {
  padding-top: 16px;
}
footer .menu-footer ul li {
  margin-bottom: 11px;
}
footer .menu-footer ul li i {
  color: #ffffff;
  width: 25px;
}
footer .menu-footer ul li a {
  color: #ffffff;
}

.header-menu {
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.header-menu .fleche {
  font-size: 25px;
  position: absolute;
  padding-left: 25px;
}
.header-menu .fleche .fa-arrow-left:hover {
  color: #9356dc;
}

.main-img {
  height: 275px;
  width: 100%;
  z-index: 0;
}
.main-img img {
  width: 100%;
  height: 275px;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.menu-restaurant {
  height: fit-content;
  width: 100%;
  background-color: #eaeaea;
  border-radius: 40px 40px 0 0;
  margin-top: -63px;
  z-index: 1;
}
.menu-restaurant-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 25px;
}
.menu-restaurant-container .restaurant-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  margin-top: 25px;
}
.menu-restaurant-container .restaurant-title h1 {
  height: 50px;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.menu-restaurant-container .restaurant-title-heart {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 25px;
  margin-left: 30px;
  padding-bottom: 3px;
}
.menu-restaurant-container .restaurant-title-heart .icon {
  position: absolute;
  cursor: pointer;
}
.menu-restaurant-container .restaurant-title-heart .empty {
  opacity: 1;
  color: #353535;
}
.menu-restaurant-container .restaurant-title-heart .fill {
  opacity: 0;
  color: #9256dc;
  z-index: 2;
  background: linear-gradient(0deg, rgb(171, 94, 220) 0%, rgb(223, 111, 218) 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-restaurant-container .restaurant-title-heart .empty:hover {
  opacity: 0;
}
.menu-restaurant-container .restaurant-title-heart .fill:hover {
  opacity: 1;
  transition: 0.4s;
}
.menu-restaurant-container .restaurant-list {
  height: fit-content;
  width: 100%;
}
.menu-restaurant-container .restaurant-list h4 {
  height: 27px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
}
.menu-restaurant-container .restaurant-list-tiret {
  border: none;
  height: 5px;
  width: 40px;
  margin-top: 4px;
  margin-left: 0;
  background-color: #99e2d0;
}
.menu-restaurant-container .restaurant-list ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content {
  width: 100%;
  height: 69px;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 12px;
  display: flex;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-left {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 15px;
  overflow: hidden;
  white-space: nowrap;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-left h3 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;
  text-overflow: ellipsis;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-left p {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-right {
  width: 59px;
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 13px;
  font-size: 17px;
}
.menu-restaurant-container .restaurant-list ul .restaurant-list-content-right span {
  font-weight: bold;
}
.menu-restaurant-container .order-dish {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-restaurant-container .order-dish a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

/* responsive desktop */
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .concept {
    height: 440px;
    width: 100%;
    background-color: color_bg_White;
    display: flex;
    flex-direction: column;
    border: solid yellow 3px;
  }
  .concept ul {
    display: flex;
    flex-direction: row;
    border: solid blue 3px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    border: solid red 3px;
  }
  .menu .bloc-card-menu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}
/* responsive tablette */
@media (min-width: 600px) {
  body {
    margin: 0 auto;
  }
}