.header-menu {
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $color_bg_White;
  .fleche {
    font-size: 25px;
    position: absolute;
    padding-left: 25px;
    .fa-arrow-left:hover {
      color: $color_button_bottom;
    }
  }
}

.main-img {
  // SECTION
  height: 275px;
  width: 100%;
  z-index: 0;
  img {
    width: 100%;
    height: 275px;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
}

.menu-restaurant {
  // SECTION
  height: fit-content;
  width: 100%;
  background-color: $color_bg_grey;
  border-radius: 40px 40px 0 0;
  margin-top: -63px;
  z-index: 1;
  // border: blue solid 1px;

  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 25px;
    // border: blue solid 1px;

    .restaurant-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 5px;
      margin-top: 25px;
      // border: blue solid 1px;

      h1 {
        height: 50px;
        font-family: $font-logo-title;
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
        display: flex;
        align-items: center;
      }
      &-heart {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 25px;
        margin-left: 30px;
        padding-bottom: 3px;

        .icon {
          position: absolute;
          cursor: pointer;
        }
        .empty {
          opacity: 1;
          color: $color_bg_Black;
        }
        .fill {
          opacity: 0;
          color: $color_bg_Purple;
          z-index: 2;
          background: linear-gradient(
            0deg,
            rgba(171, 94, 220, 1) 0%,
            rgba(223, 111, 218, 1) 58%
          );
          background-clip: text; /* Ajout de la version standard */
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 0.7s ease;
        }
        .empty:hover {
          opacity: 0;
        }
        .fill:hover {
          opacity: 1;
          transition: 0.2s;
        }
      }
    }
    .restaurant-list {
      height: fit-content;
      width: 100%;

      // border: blue solid 1px;

      h4 {
        height: 27px;
        font-size: 16px;
        font-weight: 300;
        line-height: 18.75px;
      }
      &-tiret {
        border: none;
        height: 5px;
        width: 40px;
        margin-top: 4px;
        margin-left: 0;
        background-color: $color_bg_Green;
      }

      ul {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // border: blue solid 1px;

        .restaurant-list-content {
          // border: yellow solid 3px;
          width: 100%;
          height: 69px;
          background: $color_bg_White;
          border-radius: 15px;
          margin-top: 12px;
          display: flex;

          &-left {
            //border: red solid 2px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 15px 0px 15px 15px;
            overflow: hidden;

            h3 {
              font-size: 19px;
              font-weight: 700;
              margin-bottom: 5px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            p {
              width: 100%;
              font-size: 15px;
              font-weight: 300;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          &-right {
            // border: blue solid 1px;
            width: 59px;
            height: 100%;
            display: flex;
            align-items: end;
            padding-bottom: 13px;
            font-size: 17px;

            span {
              font-weight: bold;
            }
          }
        }
      }
    }

    .order-dish {
      padding: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 186px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(to top, #9356dc, #ff79da);
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        color: $color_text_white;
        cursor: pointer;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.5s ease;

        &:hover {
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
          transition: 1s;
        }
      }
    }
  }
}
