.header-menu {
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $color_bg_White;
  .fleche {
    font-size: 25px;
    position: absolute;
    padding-left: 25px;
  }
}

.main-img img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
}

.menu-restaurant {
  height: fit-content;
  width: 100%;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 40px 40px 0 0;
  margin-top: -63px;
  z-index: 0;

  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 25px;

    .restaurant-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 5px;
      margin-top: 25px;

      h1 {
        height: 50px;
        font-family: $font-logo-title;
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
        @include flex-center;
      }
      &-heart {
        width: 50px;
        height: 50px;
        @include flex-center;
        position: relative;
        font-size: 25px;
        margin-left: 20px;
        padding-bottom: 3px;

        .icon {
          position: absolute;
          cursor: pointer;
        }
        .empty {
          opacity: 1;
          color: $color_bg_Black;
        }
        .fill {
          opacity: 0;
          color: $color_bg_Purple;
          z-index: 2;
          background: linear-gradient(
            0deg,
            rgba(171, 94, 220, 1) 0%,
            rgba(223, 111, 218, 1) 58%
          );
          background-clip: text; /* Ajout de la version standard */
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 0.7s ease;
        }
        .empty:hover {
          opacity: 0;
        }
        .fill:hover {
          opacity: 1;
          transition: 0.2s;
        }
      }
    }
    .restaurant-list {
      height: fit-content;
      width: 100%;

      h2 {
        height: 27px;
        font-size: 16px;
        font-weight: 300;
        line-height: 18.75px;
      }
      &-tiret {
        border: none;
        height: 5px;
        width: 40px;
        margin-top: 4px;
        margin-left: 0;
        background-color: $color_bg_Green;
      }

      ul {
        margin-top: 10px;
        @include flex-center;
        flex-direction: column;
        width: 100%;

        .restaurant-list-content {
          width: 100%;
          height: 69px;
          background: $color_bg_White;
          border-radius: 15px;
          margin-top: 12px;
          display: flex;
          overflow: hidden;

          .restaurant-list-content-left {
            h3,
            p {
              width: 100%;
              transition: width 0.5s ease-in-out;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &:hover .restaurant-list-content-left p,
          &:hover .restaurant-list-content-left h3 {
            width: 240px;
          }

          &-right {
            width: 70px;
            height: 100%;
            display: flex;
            align-items: end;
            padding-bottom: 13px;
            font-size: 17px;
            transition: transform 0.6s ease-in-out;

            span {
              font-weight: bold;
              padding-left: 5px;
            }
          }
          &-left {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 15px 0px 15px 15px;
            transition: width 0.5s ease;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            h3 {
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 5px;
            }

            p {
              font-size: 15px;
              font-weight: 300;
            }
          }
        }
      }
    }

    .order-dish {
      padding: 20px 0px;
      @include flex-center;

      a {
        @include flex-center;
        width: 186px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(to top, #9356dc, #ff79da);
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        color: $color_text_white;
        cursor: pointer;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.5s ease;

        &:hover {
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
          transition: 1s;
        }
      }
    }
  }
}
