.appear1 {
  list-style-type: none;
  opacity: 0;
  animation: slideFadeIn 0.8s ease-out forwards;
}

.appear2 {
  opacity: 0;
  animation: slideFadeIn 1.5s ease-out forwards;
}

.appear3 {
  opacity: 0;
  animation: slideFadeIn 2.5s ease-out forwards;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
