/* responsive desktop */
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .concept {
    height: 440px;
    width: 100%;
    background-color: color_bg_White;
    display: flex;
    flex-direction: column;
    border: solid yellow 3px;

    ul {
      display: flex;
      flex-direction: row;
      border: solid blue 3px;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    border: solid red 3px;

    .bloc-card-menu {
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
  }
}
