/* responsive desktop */
@media (min-width: 1024px) {
  section {
    padding: 0 120px;
    margin: 0 auto;
  }

  .intro {
    h1 {
      font-size: 40px;
    }
  }

  .concept {
    height: 230px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: left;
    }
  }

  .menu {
    padding-left: 130px;
    padding-right: 130px;
  }

  .menu-restaurant {
    width: 70%;
  }

  footer {
    h2 {
      margin-right: 60px;
    }

    .menu-footer {
      margin-right: 90px;

      ul {
        gap: 15px;
      }

      li {
        &:nth-child(2) {
          margin-right: 30px;
        }
      }
    }
  }
}
