/* responsive desktop */
@media (min-width: 1024px) {
  section {
    padding: 0 180px;
    margin: 0 auto;
  }

  .intro {
    h1 {
      width: fit-content;
      font-size: 40px;
      font-weight: 700;
    }
  }

  .concept {
    height: 230px;

    h2 {
      margin-top: 40px;
      margin-left: -5px;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: left;
    }
  }

  .menu {
    width: 100%;

    h2 {
      width: 100%;
      margin-top: 40px;
      margin-left: -5px;
    }

    .bloc-card-menu {
      width: 100%;
      gap: 60px;
      display: grid;
      grid-template-columns: 48% 48%;
      grid-template-rows: 251px 251px;

      .card-menu {
        width: 100%;
        height: 251px;
        position: relative;

        .new-content {
          // a faire avec théo
        }
      }
    }
  }

  footer {
    height: 114px;
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    h2 {
      order: 1;
      margin-top: 10px;
      margin-right: 60px;
    }

    .menu-footer {
      width: fit-content;
      margin-right: 90px;

      ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
      }

      li {
        &:nth-child(2) {
          margin-right: 30px;
        }
      }
    }
  }
}
